<% content_for(:title, @agitator.three_things) %>
<h2>詳細</h2>

<div class="form-group">
  No.<%= @agitator.id %>
</div>
<div class="form-group">
  記録者：<%= @agitator.user.name %>
</div>

  <ul>
  <div class="form-group">
  <li>
  <%= @agitator.three_things %>、この世の全てを手に入れた
  <%= @agitator.gender %>
  </li>
  <li>
  ”<%= @agitator.common_name %>”
  <%= @agitator.name %>
  </li>
  <li>
  <%= @agitator.when_he_said %>
  一言は、
  <%= @agitator.what_people_do %>
  </li>
  </ul>

  <ul>
  <div class="form-group">
  <li>
  <%= @agitator.treasure %>か？欲しけりゃくれてやる、探せ！
  <%= @agitator.place %>に置いてきた
  </li>
  </div>
  </ul>

  <ul>
  <div class="form-group">
  <li>
  <%= @agitator.where_they_go %>夢を追い続ける。世はまさに
  <%= @agitator.epic_name %>時代！
  </li>
  </div>
  </ul>
</div>

<div class="form-group">
<div class="btn-b">
<%= link_to "Xで共有する", "https://twitter.com/share?url=#{request.url}&text=#{URI.encode_www_form_component("記述者#{@agitator.user.name}：「”#{@agitator.common_name}”#{@agitator.name}の言葉」に奮い立ちました")}&hashtags=#{URI.encode_www_form_component("ミニアプリ, トミメイセイ")}", target: '_blank' %>
</div>
</div>
<div class="btn-b">
<%= link_to "刻まれた言葉一覧へ", agitators_path %> 
</div>